body{
	margin: 0;
	padding: 0;
	background: #EEEEEE;
}
h1, h2, h3, p {
	color: #234465;
}

header{
	overflow: hidden;
	width: 100%;
	height: 180px;
	background-image: url("../img/3.jpg");
}
.header-bgr{
	max-width: 100%;
	height: 110px;
	background: #234465;
}
.logo{
	
	width: 25%;
	height: 100px;
	float: left;
	margin: auto;
}
.logo-img img{
	margin-right: 0;
	width: 200px;
}

.logo a img{
	margin:10px 60%;
	  -moz-transition: all 0.9s ease-out;  /* FF4+ */
    -o-transition: all 0.9s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.9s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.9s ease-out;  /* IE10? */
    transition: all 0.9s ease-out;  
	
}

.logo a img:hover{
	opacity: 0.0;
    filter: alpha(opacity=40);
        -moz-transition: all 0.9s ease-out;  /* FF4+ */
    -o-transition: all 0.9s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.9s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.9s ease-out;  /* IE10? */
    transition: all 0.9s ease-out;  
}


.menu{	
	
	margin-right: -8%;
	float: right;

}
ul li{
	
	list-style-type: none;
	float:left;
	margin: 5px;
	margin-top: 50px;
	color: #fff;
}

ul li:hover{
	
	list-style-type: none;
	float:left;
	margin: 5px;
	margin-top: 50px;
	color: #234465;
}

ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight:bold;
	padding:5px 7px 5px 7px;
	font-family: 'PT Sans', Tahoma, sans-serif;
}
ul li a:hover{
	padding-top: 50px;
	background: #4CA0DB;
	color: #4CA0DB;
	text-decoration: none;
	font-size: 14px;
	font-weight:bold;
	-webkit-border-radius: 5px;
	font-family: 'PT Sans', Tahoma, sans-serif;
}

/*ul li a:hover{
	background: #4CA0DB;
	
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight:bold;
	-webkit-border-radius: 5px;
	font-family: 'PT Sans', Tahoma, sans-serif;
}*/
.buton {
	background: #FF9C00;
	margin-right: 15%;
	margin-top: 15px;
	float: right;
	position: relative;
	padding: 5px 7px 5px 7px;

}
.buton a{
	text-decoration: none;
	color: #fff;
	font-family: 'PT Sans', Tahoma, sans-serif;
}

.buton a:hover{
	text-decoration: none;
	color: #FF9C00;
	font-family: 'PT Sans', Tahoma, sans-serif;
}


.top{
	height: 50px;
}

.bottom{
	height: 150px;
	background-color: #234465;
	-webkit-border-top-right-radius:55px;
}
.top{
	margin-left: 0;
	padding-left: 0;

}
.content{
	width: 70%;
	margin: auto;
}